* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #000;
  color: white;
}
header {
  /* padding: 20px; */
}
 p {
  padding: 20px;
  background-color: #7a1cdc;
  width: fit-content;
  margin: 20px auto;
  border-radius: 10px;
  line-height: 1.5;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

}
span {
  background-color: rgba(230, 39, 106, 0.3);
  padding: 3px;
}
section {
  /* max-width: 850px; */
  /* margin: auto; */
}
section p { 
  background-color: #494afd;
  font-weight: bold;
  margin: 20px auto;
  
}
section img {
  max-width: 850px;
}
